.user_info {
  height: 150rpx;
  border-bottom: 1rpx #b4b5b6 solid;
  display: flex;
  align-items: center;
  image {
    width: 100rpx;
    height: 100rpx;
    border-radius: 50%;
    overflow: hidden;
  }
  text {
    margin: 0 0 0 10rpx;
  }
  .log_btn {
    margin: 0;
    margin-left: 10rpx;
  }

}
.user_list {
  margin: 40rpx 0 0 0;
  .user_list_item {
    height: 50rpx;
    border-bottom: 1rpx #b4b5b6 dashed;
    padding: 10rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}